

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  padding: 32px;
  background: linear-gradient(#7bb436d0, #f9ba0dc3, #45b4bce6);
}
.rodape-imagem {
  height: 48px;
}
a {
  color: #1c2c07;
  font-weight: bold;
}
/* unvisited link */
a:link {
  color: rgb(18, 6, 99);
}

/* visited link */
a:visited {
  color: rgb(34, 39, 2);
}

/* mouse over link */
a:hover {
  color: rgb(32, 12, 249);
}

/* selected link */
a:active {
  color: blue;
}

li {
  display: inline-block;
  margin-left: 10px;
}

.rodape-text {
  font-family: "Roboto", sans-serif;
  color: #1d3005;
  font-size: 20px;
  display: flex;
  gap: 32px;
  margin-left: 15rem;
  
}

