* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  list-style-type :none;

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#banner_logo{
  width:max-content;
  margin-top: 65px;
  height:20dvh;
  padding-left:40%;
  margin-right: 5px;
 
 
}
.banner__content {
  display: block;
  word-wrap: initial;
  background:#ecf7f8; 
}

.text-banner{
 font-family: 'Roboto', sans-serif;
 font-size: 25px;
 font-weight: 400;
 font-weight:bold;
 color:#335805;
 margin-left: 15rem;
}


.texto-principal{
  padding: 79px;
}



.rodape-text{
 font-family: 'Roboto', sans-serif;
 color:#1d3005;
 font-size: 20px;
 display: flex;
 gap:32px;
 margin-left: 15rem;
 
}

