* {
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  

.titulo {
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 700px;
    margin: 0 auto;
}

label{
    font-weight: bold;
    margin-bottom: 5px;
}

input{
    width: 100%;
    padding: 12 20px;
    box-sizing: border-box;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-size: 1.1rem;
}
