form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 500px;
    margin: 0 auto;
}

label{
    font-weight: bold;
    margin-bottom: 5px;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-size: 1.1rem;
}