* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a {
  color: #1c2c07;
  font-weight: bold;
}
/* unvisited link */
a:link {
  color: rgb(18, 6, 99);
}

/* visited link */
a:visited {
  color: rgb(34, 39, 2);
}

/* mouse over link */
a:hover {
  color: rgb(32, 12, 249);
}

/* selected link */
a:active {
  color: blue;
}

.rodape-text {
  font-family: "Roboto", sans-serif;
  color: #1d3005;
  font-size: 20px;
  display: flex;
  gap: 32px;
  margin-left: 15rem;
}
