* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}


#banner_logo{
    width:max-content;
    margin-top: 65px;
    height:20dvh;
    padding-left:40%;
    margin-right: 5px;
   
   
}
.banner__content {
    display: block;
    word-wrap: initial;
    background:#ecf7f8; 
}
  
.text-banner{
   font-family: 'Roboto', sans-serif;
   font-size: 25px;
   font-weight: 400;
   font-weight:bold;
   color:#335805;
   margin-left: 15rem;
}

  
.texto-principal{
    padding: 79px;
}



a{
    color:#1c2c07;
    font-weight: bold;
}
 /* unvisited link */
a:link {
    color: rgb(18, 6, 99);
  }
  
  /* visited link */
  a:visited {
    color: rgb(34, 39, 2);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(32, 12, 249);
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

.rodape-text{
   font-family: 'Roboto', sans-serif;
   color:#1d3005;
   font-size: 20px;
   display: flex;
   gap:32px;
   margin-left: 15rem;
   
}

