#banner_logo {
  width: max-content;
  margin-top: 65px;
  height: 20dvh;
  padding-left: 40%;
  margin-right: 5px;
}
.banner__content {
  display: block;
  word-wrap: initial;
  background: #ecf7f8;
}

.text-banner {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-weight: bold;
  color: #335805;
  margin-left: 15rem;
}

.texto-principal {
  padding: 79px;
}
